* {
    border: 1px solid blue;
    margin: 0;
    padding: 0;
}

html {
    border: 2px solid green;
}

body {
    border: 2px solid orange;
       /* because my viewport size is too big, due to large monitor; 60vw = 60% of the viewport size */
     /* to center the body element horizontally */
}




/* General styling */

a {
    text-decoration: none;
}








/* Section containers */

.container-header {
    padding: 0 500px;
    background-color: #EEB400;
}

.container-hero {
    background-color: #EEB400;
    padding: 70px 750px;
}










/* Header section */

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-links li a {
    color: black;
    font-size: 18px;
    text-transform: lowercase;
}




/* Hero section */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px 0;
    height: fit-content;
}

.hero-right {
    display: flex;  /* so that the hero-image fills entire flex container (that is .hero-right) */
}





.hero-heading {
    font-size: 48px;
    font-weight: 700;
}

.hero-paragraph {
    width: 600px;
    font-size: 22px;
}

.hero-button {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
}
