* {
    /*border: 1px solid blue; */
    margin: 0;
    padding: 0;
}


/* General styling */

a {
    text-decoration: none;
}





/* Section containers */

.container-header {
    padding: 0 500px;
    background-color: #EEB400;
}

.container-hero {
    background-color: #EEB400;
    padding: 100px 700px;
}

.container-body-one {
    padding: 100px 750px;
}

.container-body-two {
    padding: 100px 750px;
    background-color: #DCBF04;
}

.container-body-three {
    padding: 100px 700px;
}

.container-footer {
    background-color: #EEB400;
}









/* Header section */

.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.header-links li a {
    color: black;
    font-size: 18px;
    text-transform: lowercase;
}

.logo-text {
    text-transform: uppercase;
    font-size: 24px;
}



/* Hero section */

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px 0;
}

.hero-right {
    display: flex;  /* so that the hero-image fills entire flex container (that is .hero-right) */
}





.hero-heading {
    font-size: 48px;
    font-weight: 700;
}

.hero-paragraph {
    width: 600px;
    font-size: 18px;
    flex: 1 0 auto;
}

.hero-button {
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 12px;
    border: 3px solid hsla(330, 48.5%, 32%, 1);
}





/* Body section */

.body-one {                      /* flex container that contains .body-one-heading and .body-one-images as flex items */
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.body-one-heading {
    display: flex;
    justify-content: center;
}

.body-one-media-objects {
    display: flex;
    justify-content: center;
    gap: 0 20px;
}

.media-object {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
}

.body-one-heading div {
    font-size: 36px;
}

.media-object img {
    border: 2px solid hsla(330, 48.5%, 32%, 1);
    border-radius: 12px;
    padding: 15px;                /* increasing this padding will make border overflow the flex container (that is .media-object), because the .media-object has width property set (which means the width of the flex container is respected, i.e. remains the same) */
}

.media-object-text {
    text-align: center;
}






/* Quote section */

.body-quote {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.quote {
    font-size: 36px;
    line-height: 46px;
}

.author {
    font-size: 20px;
    font-weight: 700;
    text-align: end;
    padding-right: 60px;
}



/* CTA section */

.body-cta {
    display: flex;
    align-items: flex-end;
    background-color: blanchedalmond;
    border-radius: 12px;
    padding: 50px 50px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    flex: 1 0 auto;
}


.cta-text-heading {
    font-size: 24px;
    font-weight: 700;
}

.cta-text-description {
    font-size: 18px;
}

.cta-button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    border-radius: 12px;
    border: 3px solid hsla(330, 48.5%, 32%, 1);
    background-color: transparent;
}



/* Footer section */

.footer {
    padding: 50px 750px;
}


.copyright {
    text-align: center;
    margin-bottom: 20px;
}

.attributions div {
    text-align: center;
    margin-bottom: 2px;
}
